@model PackageBuilder.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    string createPackageDivStyle = String.Empty;
    if (ViewBag.DownloadKey != null)
    {
        createPackageDivStyle = "style='display:none'";
    }
}

<div id="createPackage" @Html.Raw(createPackageDivStyle) >

    <div class="instructions">
        <p>
            <strong>Instructions:</strong>
        </p>
        <p>
            To create an AWS Lambda C# Package, type your function's code in the editor below and click the <strong>Download Package</strong> button.
            <br />
            <em>NOTE: Ignore the Go button in the editor.</em>
        </p>
    </div>

    @if (Model.Errors != null && Model.Errors.Any())
    {
        <div class="compile-errors">
            Compilation error(s) were encountered in the code:
            <ul>
                @foreach (var e in Model.Errors)
            {
            <li class="error-line">@e</li>
            }
            </ul>
        </div>
    }

<pre>
<code class="codepad language-csharp" data-codepad="theme:crimson_editor" style="width:100%;height:400px;">@Html.Raw(Model.Code)</code>
</pre>

    <a class="download-btn action-btn">Download Package</a>

    <form id="codeform" method="post">
        <input type="hidden" name="code" />
    </form>

</div>

@if(ViewBag.DownloadKey != null)
{
    <div id="downloadNotes">
        <div class="instructions">
            <p>
                Your download should start shortly.
            </p>
            <p>
                <strong>Installing your package:</strong>
            </p>
            <p>
                <ol>
                    <li>Log into the AWS Management Console.</li>
                    <li>Create a new C# Lambda function with an API Gateway trigger. (or open an existing one)</li>
                    <li>Make sure the Handler is set to <code>FunctionHandler::FunctionHandler.FunctionCaller::Invoke</code></li>
                    <li>Upload your function package zip file.</li>
                    <li>Test your function.</li>
                </ol>
            </p>
            <p>For more information see <a href="http://docs.aws.amazon.com/lambda/latest/dg/lambda-app.html" target="_blank">Building Lambda Functions</a></p>
        </div>

        <a class="action-btn newpkg-btn">Create another package</a>
        <input type="hidden" id="download-link" value="@Url.Action("Download", new { Id = ViewBag.DownloadKey })" />

    </div>
}
